In [134]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## This Project Dataset is pull from Chicago Dataset https://data.cityofchicago.org its the City-Owned-Land-Inventory

In [135]:
## Reading the CSV file

land = pd.read_csv('Land_Inventory.csv')

In [136]:
## Total rows and columns

land.shape

(19565, 25)

In [137]:
## Displaying the first two in the list

land.head(2)

,ID,PIN,Address,Legal Description,Property Status,Date of Acquisition,Date of Disposition,Sq. Ft.,Ward,Community Area Number,...,Y Coordinate,Latitude,Longitude,Location,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards,:@computed_region_awaf_s7ux
0,7473,10-25-316-022-0000,7201 N KEDZIE AVE,NaN,Owned by City,NaN,NaN,0.0,50.0,2.0,...,1948231.698,42.013783,-87.708776,"(42.01378293067369, -87.7087765099036)",12.0,20.0,22528.0,359.0,27.0,42.0
1,66030,10-33-325-026-0000,6430 N LEHIGH AVE,NaN,Owned by City,NaN,NaN,0.0,41.0,12.0,...,1942427.322,41.998154,-87.766534,"(41.998154348920544, -87.76653450120544)",18.0,12.0,22532.0,781.0,29.0,34.0

## The focus is the [Property Status, Community Area, and the Address]

In [138]:
## Total lands Owned by the city, Total land sold, Total land not Owned by the City, Total In aquisation and Total Leased Land

land['Property Status'].value_counts()

Owned by City     14196
Sold               4404
Not City Owned      831
In Acquisition       16
Leased                3
Name: Property Status, dtype: int64

## The top most and Least community Area where lands are available and sold

In [139]:
## Most and least area where lands are available and sold

land['Community Area Name'].value_counts()

ENGLEWOOD                 1939
NEW CITY                  1371
NORTH LAWNDALE            1354
WEST ENGLEWOOD            1339
EAST GARFIELD PARK         991
NEAR WEST SIDE             830
GRAND BOULEVARD            801
AUSTIN                     617
SOUTH CHICAGO              614
WEST PULLMAN               607
HUMBOLDT PARK              565
WASHINGTON PARK            549
ROSELAND                   528
WOODLAWN                   526
WEST GARFIELD PARK         526
GREATER GRAND CROSSING     449
AUBURN GRESHAM             336
FULLER PARK                297
MORGAN PARK                249
DOUGLAS                    236
SOUTH SHORE                222
SOUTH DEERING              192
RIVERDALE                  148
WEST TOWN                  136
OAKLAND                    130
CHATHAM                    119
SOUTH LAWNDALE             118
CHICAGO LAWN               115
NEAR NORTH SIDE            112
WASHINGTON HEIGHTS         107
                          ...
MCKINLEY PARK               35
ROGERS PARK                 33
EDGEWATER                   31
GARFIELD RIDGE              30
BELMONT CRAGIN              29
CALUMET HEIGHTS             29
ARMOUR SQUARE               27
LAKE VIEW                   27
PORTAGE PARK                27
UPTOWN                      26
LINCOLN PARK                22
ASHBURN                     22
AVONDALE                    20
BRIGHTON PARK               19
WEST LAWN                   18
NORTH CENTER                14
CLEARING                    14
WEST RIDGE                  11
IRVING PARK                  9
DUNNING                      8
HYDE PARK                    8
JEFFERSON PARK               8
FOREST GLEN                  6
ARCHER HEIGHTS               6
HERMOSA                      6
NORWOOD PARK                 6
MOUNT GREENWOOD              4
NORTH PARK                   4
WEST ELSDON                  2
MONTCLARE                    1
Name: Community Area Name, Length: 75, dtype: int64

## Cleaning up and filtering the data to get Properties and the Community Area

In [147]:
## cleaning up the data and creating header

land['count'] = 1
new_mod = land.groupby(['Community Area Name', 'Property Status'])['count'].value_counts()
filter_1 = new_mod.to_csv('filter_1.csv', header=True)
col_Names=["Community_Area", "Property_Status",'counts', 'Total_count']
mod_2 = pd.read_csv("filter_1.csv",names=col_Names)
mod_2.head()

        Community_Area  Property_Status counts Total_count
0  Community Area Name  Property Status  count       count
1          ALBANY PARK    Owned by City      1          47
2          ALBANY PARK             Sold      1           7
3       ARCHER HEIGHTS    Owned by City      1           6
4        ARMOUR SQUARE    Owned by City      1          17

In [13]:
## Modified Data

filted = mod_2.to_csv('filter_2.csv')
df = pd.read_csv('filter_2.csv')

In [15]:
## Total list after group count is 184
df[['Community_Area', 'Property_Status', 'Total_count']].count()

Community_Area     184
Property_Status    184
Total_count        184
dtype: int64

In [16]:
## Englewood community has the highest number of property for sell in the list 1388 property

df[df['Property_Status'] == 'Owned by City'].Total_count.max()

1386

In [118]:
## Englewood community has most sold property 481 Sold

df[df['Property_Status'] == 'Sold'].Total_count.max()

481

In [146]:
df.groupby(['Community_Area','Property_Status', 'Total_count']).Total_count.max().to_csv('Filter_3.csv', header=True)
header_name = ['Community_Area', 'poperty_Staus', 'Total_count', 'Num']
last_modify = pd.read_csv('Filter_3.csv', names = header_name)

In [150]:
## Using groupby method, we get the result of each community and property Status
last = df.groupby(['Community_Area', 'Property_Status']).Total_count.max()
last

Community_Area      Property_Status
ALBANY PARK         Owned by City        47
                    Sold                  7
ARCHER HEIGHTS      Owned by City         6
ARMOUR SQUARE       Owned by City        17
                    Sold                 10
ASHBURN             Owned by City        22
AUBURN GRESHAM      Not City Owned       14
                    Owned by City       219
                    Sold                103
AUSTIN              In Acquisition        1
                    Not City Owned        3
                    Owned by City       359
                    Sold                248
AVALON PARK         Not City Owned       23
                    Owned by City        37
                    Sold                 12
AVONDALE            Owned by City        14
                    Sold                  6
BELMONT CRAGIN      Owned by City        24
                    Sold                  5
BEVERLY             Owned by City        34
                    Sold                  9
BRIDGEPORT          Owned by City        45
                    Sold                 12
BRIGHTON PARK       Owned by City        16
                    Sold                  3
BURNSIDE            Not City Owned        1
                    Owned by City        33
                    Sold                 13
CALUMET HEIGHTS     Not City Owned        3
                                       ...
SOUTH SHORE         Owned by City       172
                    Sold                 48
UPTOWN              Leased                1
                    Owned by City        17
                    Sold                  8
WASHINGTON HEIGHTS  Not City Owned       11
                    Owned by City        60
                    Sold                 36
WASHINGTON PARK     Owned by City       477
                    Sold                 72
WEST ELSDON         Owned by City         2
WEST ENGLEWOOD      In Acquisition        2
                    Not City Owned       31
                    Owned by City      1075
                    Sold                227
WEST GARFIELD PARK  Not City Owned        4
                    Owned by City       420
                    Sold                 99
WEST LAWN           Owned by City        16
                    Sold                  2
WEST PULLMAN        Not City Owned       27
                    Owned by City       479
                    Sold                 97
WEST RIDGE          Owned by City        11
WEST TOWN           Not City Owned        4
                    Owned by City        86
                    Sold                 46
WOODLAWN            In Acquisition        1
                    Owned by City       355
                    Sold                159
Name: Total_count, Length: 184, dtype: int64

In [151]:
last_1 = last.to_csv('Filtered.csv', header=True)

## What I found out at the end of this project is

(1) Englewood has the highest number of land total 1386 Owned by the City minus the 481 sold, So that leave 905 still available 
(2) Montclare has the least land available which is 1 and it has been sold out
(3)line 126 shows the top 20 community that has the hightest and the lowest land available for sell or sold already